body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    background-color: #f9f9f9;
}

header{
    text-align: center;
    font-size: 2.5rem;
    color: #d31c1c;
    font-weight: bold;
}

header:HeaderMenu

section{
    height: 33.33%;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 32px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#Menu:hover {
    background-color: #f9f9f9;
}

#ChiSiamo:hover {
    background-color: #f9f9f9;
}

#DoveTrovarci:hover {
    background-color: #f9f9f9;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}