footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#Menu:hover {
    background-color: #f9f9f9;
}

#ChiSiamo:hover {
    background-color: #f9f9f9;
}

#DoveTrovarci:hover {
    background-color: #f9f9f9;
}

header {
    text-align: center;
    font-size: 2rem;
    color: red;
}

button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #f9f9f9;
    color: #333;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #7e7b7b;
}